<!DOCTYPE html>
<html>

  
    <body>
        <div class="container">
        <div><h style="font-family: Playfair Display; font-weight:100; font-size: 65px; color:rgba(3,3,3,0.59)">SIRANO</h></div>
        </div>
        <div style="margin-left:200px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2876.8785894120842!2d18.419190676125726!3d43.85834507109312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c8c5618685ed%3A0xed9229c1037ad76a!2sSirano!5e0!3m2!1sbs!2sba!4v1685623378249!5m2!1sbs!2sba" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </body>
</html>