@{
    Layout = null;  // It's important to disable the layout for partial views
}

<style>
    .header {
        display: flex;
    }

    .dugmic {
        background-color: rgba(3,3,3,0);
        border: none;
        border-radius: 0px;
        padding: 0px 0px;
        text-align: center;
        font-weight: 100;
        color: rgba(3,3,3,0.59);
        font-family: Playfair Display;
        display: inline-block;
        font-size: 65px;
        cursor: pointer;
        white-space: nowrap;
        flex-grow: 1;
    }

    .button3 {
        background-color: rgba(3,3,3,0);
        border: none;
        border-radius: 4px;
        padding: 3px 10px;
        text-align: center;
        font-weight: normal;
        text-decoration: none;
        font-family: IBM Plex Sans;
        display: inline-block;
        font-size: 13px;
        cursor: pointer;
        white-space: nowrap;
        flex-grow: 1;
    }
</style>


<div class="header">
    <form action="/Home">
        <button type="submit" class="dugmic">SIRANO</button>
    </form>
    <div style="margin-left:770px;"></div>

    @if (!User.Identity.IsAuthenticated)
    {
        <form action="/Identity/Account/Login">
            <button type="submit" class="button3" style="margin-top:15px">LOG IN</button>
        </form>
    }
    else
    {
        <form action="/Identity/Account/Login">
            <button type="submit" class="button3" style="margin-top:15px;">LOG OUT</button>
        </form>
        <form action="/Order/Details">
            <button type="submit" class="button3" style="margin-top:15px; margin-left:10px; margin-right:10px">ORDERS</button>
        </form>
        <a href="/Cart/Index">
            <img src="@Url.Content("~/images/korpa.png")" width="20" height="20" style="margin-top:15px;">
        </a>
    }
</div>