@model IEnumerable<Sirano.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<partial name="_Header" />

<style>

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        max-width: 1150px;
        min-height: 340px;
        min-width: 1000px;
    }

    .product-card {
        width: 170px;
        height: 270px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }

    .product-image {
        max-width: 100%;
        max-height: 100%;
    }

</style>


<form method="get" action="/Product/Index1" style="margin-left:85px; font-family:Playfair Display; font-size:15px; font-weight:100">
    <select name="productType" onchange="this.form.submit()">
        <option value="all">ALL</option>
        <option value="footwear">FOOTWEAR</option>
        <option value="clothing">CLOTHING</option>
    </select>
</form>


<div class="container">
    @foreach (var product in Model)
    {
        string actionLink = Url.Action("Details", "Product", new { id = product.Id });

        <a href="@actionLink">
            <div class="product-card">
                <img src="@Url.Content(product.Image)" alt="@product.Name" class="product-image" style="margin-left:100px">
            </div>
        </a>
    }

</div>
<script>
    $(document).ready(function () {
        $('select[name="productType"]').on('click', 'option', function () {
            if ($(this).val() === 'all') {
                $(this).closest('form').submit();
            }
        });
    });
</script>