@model IEnumerable<Sirano.Models.Product>

@{
    ViewData["Title"] = "Products";
}
<partial name="_Header" />

<style>
   
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left; /* center items horizontally */
        align-items: center; /* center items vertically */
        max-width: 1150px;
        min-height: 340px;
        min-width:1000px;
        /* 200px (width of image) * 5 + 10px (gap between images) * 4 = 1050px */
         /* center the container */
    }

    

    .product-card {
        width: 170px; /* make images bigger */
        height: 270px; /* make images bigger */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px; /* add some space between images */
    }

    .product-image {
        max-width: 100%;
        max-height: 100%;
    }

    
</style>


<form method="get" action="/Product/Index" style="margin-left:85px; font-family:Playfair Display; font-size:15px; font-weight:100">
    <select name="productType" onchange="this.form.submit()">
        <option value="all">ALL</option>
        <option value="footwear">FOOTWEAR</option>
        <option value="clothing">CLOTHING</option>
    </select>
</form>


<div class="container">
    @{
        int counter = 0;
    }
    @foreach (var product in Model)
    {
        if (counter < 10) // Only show the first 10 products
        {
            string actionLink = Url.Action("Details", "Product", new { id = product.id });

            <a href="@actionLink">
                <div class="product-card">
                    <img src="@Url.Content(product.image)" alt="@product.name" class="product-image" style="margin-left:100px">
                </div>
            </a>
            counter++;
        }
    }

   
</div>
