@model IEnumerable<Sirano.Models.Product>
@{
    ViewData["Title"] = "Orders";
}
<partial name="_Header" />

<style>
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: left;
            align-items: center;
            max-width: 1150px;
            min-height: 340px;
            min-width: 1000px;
        }

        .product-card {
            width: 170px;
            height: 270px;
            display: flex;
            justify-content: right;
            align-items: center;
            margin: 20px;
        }
        .product-image {
            max-width: 100%;
            max-height: 100%;
        }
 </style>

    <div style="margin-top: 20px;">
            <p style="font-family: IBM Plex Sans; font-size: 17px; font-weight: 100; color: rgba(20, 20, 20, 1);">You can leave a review by clicking on the wanted product!</p>
       
    </div>
    <div class="container">
            @foreach (var product in Model)
            {
                string actionLink = Url.Action("Index", "Review", new { id = product.Id });

                <a href="@actionLink">
                    <div class="product-card">
                        <img src="@Url.Content(product.Image)" alt="@product.Name" class="product-image" style="margin-left:100px">
                    </div>
                </a>
            }
    </div>
