@model IEnumerable<Sirano.Models.Product>

@{
    ViewData["Title"] = "Admin";
}

<style>
    .container {
        display: flex;
    }

    .font {
        font-family: IBM Plex Sans;
        font-size: 15px;
        color: black;
    }
</style>


<h style="font-family: Playfair Display; font-weight:100; font-size: 65px; color:#ca7b80; margin-left:0px">SIRANO ADMIN</h>
<div class="container">
    <div class="clickable-div" onclick="location.href='@Url.Action("Clothing", "Admin")'" style="margin-left:100px; margin-right:100px; margin-top:40px; cursor: pointer;">
        <img src="/images/zena.png" width="360" height="460">
        <p style="font-family: Playfair Display; font-size: 20px; margin-left:105px; margin-top:10px; color:#ca7b80"><b>CLOTHING</b></p>
    </div>
    <div class="clickable-div" onclick="location.href='@Url.Action("Footwear", "Admin")'" style=" margin-top:70px; cursor: pointer;">
        <img src="/images/stiklice.png" width="430" height="430">
        <p style="font-family: Playfair Display; font-size: 20px; margin-left:145px; margin-top:10px; color:#ca7b80"><b>FOOTWEAR</b></p>
    </div>
</div>


