@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('images/proba.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container {
        display: flex;
    }
</style>

<body>
    <div class="container">
        <div>
            <form action="/Review/Create">
                <button type="submit" class="button3" style="margin-left:1050px; color:white; margin-top:15px">WHERE TO FIND US</button>
            </form>
        </div>
        @if (!User.Identity.IsAuthenticated)
        {
            <div>
                <form action="/Identity/Account/Login">
                    <button type="submit" class="button3" style="margin-left:10px; color:white; margin-top:15px">LOG IN</button>
                </form>
            </div>
        }
    </div>
    <div>
        <form action="Home/Privacy">
            <button type="submit" class="button2" style="margin-top:450px; margin-left:140px">SHOP NOW</button>
        </form>
    </div>
</body>