@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('images/proba.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>

<body>
    <form action="/Identity/Account/Login">
        <button type="submit" class="button3" style="margin-left:1200px; color:white; margin-top:15px">LOG IN</button>
    </form>
    <div style="margin-top:540px; margin-left:140px">
        <form action="Home/Privacy">
            <button type="submit" class="button2">SHOP NOW</button>
        </form>
    </div>
</body>