@{
    ViewData["Title"] = "Map";
}
<!DOCTYPE html>

<style>
    .dugmic {
        background-color: rgba(3,3,3,0);
        border: none;
        border-radius: 65px;
        padding: 0px 0px;
        text-align: center;
        font-weight: 100;
        color: rgba(3,3,3,0.59);
        font-family: Playfair Display;
        display: inline-block;
        font-size: 65px;
        cursor: pointer;
        white-space: nowrap;
        flex-grow: 1;
    }
</style>
<html>
<body>
    <div class="container">
        <form action="/Home">
            <button type="submit" class="dugmic">SIRANO</button>
        </form>
    </div>

    <div style="margin-left:200px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2876.8785894120842!2d18.419190676125726!3d43.85834507109312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c8c5618685ed%3A0xed9229c1037ad76a!2sSirano!5e0!3m2!1sbs!2sba!4v1685623378249!5m2!1sbs!2sba" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</body>
</html>