@{
    ViewData["Title"] = "Sirano";
}

<style>
    .container {
        display: flex;
    }
</style>

<partial name="_Header" />

<div class="container">
    <div class="clickable-div" onclick="location.href='@Url.Action("Index", "Product",new { isMen = false })'" style="margin-left:100px; margin-right:100px; margin-top:80px">
        <img src="/images/woman.png" width="400" height="400">
        <p style="font-family: Playfair Display; font-size: 20px; margin-left:130px; margin-top:10px">WOMEN'S WEAR</p>
    </div>
    <div class="clickable-div" onclick="location.href='@Url.Action("Index", "Product",new { isMen = true })'" style=" margin-top:80px">
        <img src="/images/man.png" width="400" height="400">
        <p style="font-family: Playfair Display; font-size: 20px; margin-left:130px; margin-top:10px">MEN'S WEAR</p>
    </div>
</div>