@model IEnumerable<Sirano.Models.Product>

<!DOCTYPE html>
<partial name="_Header" />
<html>
<head>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .product-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .product-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 10px;
        }

            .product-card img {
                margin-bottom: 10px;
            }

        .product-info {
            text-align: center;
        }

            .product-info p {
                margin: 5px;
            }

        .total-price {
            text-align: center;
            margin-top: 20px;
        }

        .button5 {
            background-color: WHITE;
            border-color: black;
            border-radius: 1px;
            color: BLACK;
            padding: 7px 70px;
            text-align: center;
            font-weight: 100;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 2px 2px;
            cursor: pointer;
            white-space: nowrap;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .container img {
                margin: 20px;
            }

        .natpis {
            display: flex;
        }

        .product-image {
            width: 200px;
            height: 300px;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="product-container">
            @foreach (var product in Model)
            {
                <div class="product-card">
                    <img src="@product.Image" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <p>@product.Name</p>
                        <p>Price: $@product.Price</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="natpis" style="margin-top:50px">
        <div>
            <p style="font-family: IBM Plex Sans; font-size: 17px; font-weight: 100; margin-top:8px; margin-left: 570px; color: rgba(20, 20, 20, 0.7);">TOTAL: $@Model.Sum(p => Convert.ToDecimal(p.Price)).ToString("F2")</p>
        </div>
        <div>
            <form action="/Order">
                <button type="submit" class="button5" style="margin-left: 15px; margin-bottom: 50px;">CONTINUE</button>
            </form>
        </div>
    </div>
</body>
</html>