@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<style>
    .container {
        display: flex;
    }

    .div4 {
        flex-grow: 1;
    }
</style>

<div style="margin-top: 50px; margin-bottom: 30px; margin-left:12px">
    <h style="font-family: Playfair Display; font-weight:600; font-size: 45px">Don't have an account yet?</h>
</div>

<div class="container">
    <div class="div4" style="margin-right: 200px;">
        <section>
            <form id="account" method="post">
                <p style="font-family: Poppins; font-size: 20px; margin-left:2px"><i>Enter your registration details</i></p>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div style="margin-top: 15px">
                    <input asp-for="Input.Name" class="form-control" placeholder="Name"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div style="margin-top: 15px">
                    <input asp-for="Input.Address" class="form-control" placeholder="Address"/>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div style="margin-top: 15px">
                    <input asp-for="Input.Phone" class="form-control" placeholder="Phone"/>
                    <span asp-validation-for="Input.Phone" class="text-danger"></span>
                </div>
                <div style="margin-top: 15px">
                    <input asp-for="Input.Email" class="form-control" placeholder="Email"/>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div style="margin-top: 15px">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password"/>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div style="margin-top: 40px;">
                    <button type="submit" class="button1">SIGN UP</button>
                </div>

            </form>
        </section>
    </div>
    <div>
        <img src="/images/ciko.png" width="250" height="400">
    </div>
    <div>
        <img src="/images/zena.png" width="300" height="400">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}