@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div style="margin-top: 50px; margin-bottom: 30px; margin-left:65px">
    <h style="font-family: Playfair Display; font-weight:600; font-size: 45px">Register confirmation</h>
</div>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p style="font-family: Poppins; font-size: 20px; margin-left:65px; margin-bottom:20px;">
            <a id="confirm-link" href="/Home">Click here to confirm your account</a>
        </p>
    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
}
